@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf") format("truetype");
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/ubuntu/v15/4iCs6KVjbNBYlgo6eA.ttf") format("truetype");
}

* {
	color: #141515;
	font-family: Ubuntu;
	padding: 0;
	margin: 0;
}

body {
	background-color: #dfdfdd;
}

.title {
	font-family: Roboto;
	font-size: 120px;
	letter-spacing: 10px;
	line-height: 97%;
	width: max-content;
	position: absolute;
	top: 30%;
	text-align: center;
	width: 100%;

	background: linear-gradient(-30deg, #2613d4, #1af399);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	background-position: left;
}

.title-container {
	width: max-content;

	background: linear-gradient(-30deg, #2613d4, #1af399);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
	background-position: left;
}

.title-container h1 {
	font-family: Roboto;
	font-size: 120px;
	letter-spacing: 10px;
	line-height: 97%;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	background-color: #040508;
	color: #dfdfdd;
	text-align: center;
}

#subtitle {
	font-family: Roboto;
	font-size: 60px;

	color: #2e3535;
}

#logo-main {
	position: absolute;
	right: 15vw;
	top: 15vh;
	width: 25vw;
	height: 25vw;
}

#logo-main path {
	stroke-width: 2px;
	stroke-dasharray: 1122;
	stroke-dashoffset: 1122;
	animation: logo-anim 3s ease forwards 4s;
}

@keyframes logo-anim {
	to {
		stroke-dashoffset: 0%;
	}
}