@font-face {
	font-family: 'IBM Plex Serif';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/ibmplexserif/v15/jizAREVNn1dOx-zrZ2X3pZvkTi2k_hIz.ttf) format('truetype');
  }

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3aPw.ttf) format('truetype');
}

* {
	font-family: 'Source Sans Pro';
	margin: 0;
}

h1 {
	font-family: 'IBM Plex Serif';
	font-weight: bold;

	font-size: 72px;
	background: -webkit-linear-gradient(#d11ce6, #640bb8);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h2 {
	font-family: 'IBM Plex Serif';
	font-size: 34px;
	margin-top: 30px;
	margin-bottom: 9px;
}

p {
	font-family: 'Source Sans Pro';
}
main {
	padding: 15vh 20vw;

	background-color: #eff1f5;
}

.hero {
	display: flex;
	align-items: center;
	text-align: center;

	height: 100vh;
	width: 100%;
	margin: 0;
}

.hero * {
	width: 100%;
	margin: 20px 0;
}

footer {
	min-height: 40px;
	padding: 30px 20vw;
	background-color: black;
	color: white;
	margin: 0;
}

a {
	color: #a92ee2;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
}

ul {
	margin: 10px 0;
	margin-bottom: 20px;
}

.flex { /*Flexbox for containers*/
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.waves {
	position: absolute;
	width: 100%;
	height: 15vh;

	top: 85vh;
}

.fadein {
	animation: fadein 1s;
}

.parallax > use {
	animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
	
	fill: #8205bd;
}

.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
	
	fill: #a51ce4;
}

.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
	
	fill: #b858e4;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
	
	fill: #eff1f5;
}

@keyframes move-forever {
	0% {
		transform: translate3d(-90px,0,0);
	}
	100% {
		transform: translate3d(85px,0,0);
	}
}

@keyframes fadein {
	0% {
		opacity: 0%;
		transform: translateY(10px);
	}
	100% {
		opacity: 100%;
		transform: none;
	}
}
