* {
	color: #e5e6df
}

body {
	background-color: #222631;
}

h1 {
	font-size: 100px;
	text-align: center;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	margin: 0;
	background-color: #171a22;
	text-align: center;
}