<div class="w-full h-screen flex justify-center items-center">
	<div class="container px-56">
		<h1 class="text-9xl font-mono">
			Julius
			<br />
			<span class="text-stone-600 text-8xl">de Boer</span>
		</h1>
		<h2 class="text-stone-600 font-mono text-3xl">Software Engineer</h2>
	</div>
</div>
